@font-face {
    font-family: "pirate";
    src: url("/font/SPINSTEE.TTF");
}

@font-face {
    font-family: "pirate1";
    src: url("/font/BlackPearl.ttf");
}


html, body {
    height: 100%;
    background-color: #000000;
}
.vh-50 {
    height: 50vh !important;
}

#map {
    width: 100%;
    height: 100%;
    background-image: url("/img/water_background.png") ;
    background-repeat: repeat;
    background-position: center;
}
.game {
    background-color: #1153a0;
}

.settings {
    background-image: url("/img/wood_background.png");
    background-repeat: repeat;
    background-position: top;
    background-color: black;
}

.stats {
    background-image: url("/img/wood_background.png");
    background-repeat: repeat;
    background-position: bottom;
    background-color: black;
}

.view {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: #292929;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8);
}

.no-gutters{
    padding: 10px;
}

.tile {
    background: url('../img/tile50v2.png');
    position: absolute;
}

#tiles {
    height: 100%;
    width: 100%;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-family: pirate1, sans-serif;
}

#settingButtonGroup {
    position: absolute;
    bottom:   3vh;
    left:   15%;
    width: 70%;
}

#settingButton {
    margin-bottom: 3vh;
}