@font-face {
    font-family: "pirate";
    src: url("/font/SPINSTEE.TTF");
}

@font-face {
    font-family: "pirate1";
    src: url("/font/BlackPearl.ttf");
}


html, body {
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}
.vh-50 {
    height: 50vh !important;
}

#map {
    width: 100%;
    height: 100%;
    background-image: url("/img/backgrounds/water_background.png") ;
    background-repeat: repeat;
    background-position: center;
}
.game {
    background-color: #1153a0;
}

.modal-content {
    background-image: url("/img/backgrounds/paper_background.jpg");
    background-position: center;
    background-size: 100%;
    background-color: rgba(219,178,149,1.0);
    border-color: black;
    font-weight: 600;
}

.modal-title{
    font-weight: 800;
}

.modal-header{
    border-color: black;
}

.modal-footer{
    border-color: black;
}

.settings {
    background-image: url("/img/backgrounds/wood_background.png");
    background-repeat: repeat;
    background-position: top;
    background-color: black;
}

.stats {
    background-image: url("/img/backgrounds/wood_background.png");
    background-repeat: repeat;
    background-position: bottom;
    background-color: black;
}

.view {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: #292929;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8);
}

.no-gutters{
    padding: 10px;
}

.tile {
    background: url('../img/tiles/tile.png') center no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.outofboundstile {
    background: url('../img/tiles/outofboundstile.png') center no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#tiles {
    height: 100%;
    width: 100%;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-family: pirate1, sans-serif;
}

#settingButtonGroup {
    position: absolute;
    bottom:   3vh;
    left:   15%;
    width: 70%;
}

.settingButton {
    margin-bottom: 3vh;
}


/***********************/
/*        SHIPS        */
/***********************/
#ships {
    height: 100%;
    width: 100%;
}

.ManatWar-Red {
    background: url('../img/ships/ManatWar/Red.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 40px;
}

.ManatWar-White {
    background: url('../img/ships/ManatWar/White.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 90px;
}

.ManatWar-Teal {
    background: url('../img/ships/ManatWar/Teal.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 200px;
}

.ManatWar-Green {
    background: url('../img/ships/ManatWar/Green.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 150px;
}

.ShipoftheLine-Red {
    background: url('../img/ships/ShipoftheLine/Red.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 90px;
    left: 40px;
}

.ShipoftheLine-White {
    background: url('../img/ships/ShipoftheLine/White.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 90px;
    left: 90px;
}

.ShipoftheLine-Teal {
    background: url('../img/ships/ShipoftheLine/Teal.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 90px;
    left: 200px;
}

.ShipoftheLine-Green {
    background: url('../img/ships/ShipoftheLine/Green.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
    height: 40px;
    width: 40px;
    top: 90px;
    left: 150px;
}

.Brig-Red {
    background: url('../img/ships/Brig/Red.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
}

.Brig-White {
    background: url('../img/ships/Brig/White.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
}

.Brig-Teal {
    background: url('../img/ships/Brig/Teal.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
}

.Brig-Green {
    background: url('../img/ships/Brig/Green.png') center no-repeat;
    position: absolute;
    background-size: auto 100%;
}

.list-group-flush .list-group-item {
    padding: 7px 15px 7px 15px;
    height: 20vh;
    background-color: transparent;
}

p {
    margin: 0px;
}
