<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" >
    <link rel="stylesheet" media="screen" th:href="@{/css/style.css}" >



    <title>Ships</title>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="vh-100 col-9 no-gutters">
        <!-- MAIN VIEW STARTED -->

            <div class="game view" id="gameView">
                <div id="map">
                    <div id="tiles">
                        <!-- Used to create the tiles -->

                        <div id='ships'>
                            <!-- Used to create ships -->


                        </div>


                    </div>

                </div>
            </div>

        <!-- MAIN VIEW STOPPED -->
        </div>
        <div class="vh-100 col-3">
            <div class="row">
                <div class="vh-50 col-12 no-gutters" >
                    <!-- TOP RIGHT VIEW STARTED-->
                        <div class="settings view">
                            <h1>SHIPS & SAILS</h1>
                            <div class="btn-group-vertical" id="settingButtonGroup">
                                <button type="button" class="btn btn-dark" id="settingButton" onclick="Connect()">Connect</button>
                                <button type="button" class="btn btn-dark" id="settingButton" onclick="Mute()">Mute Sound</button>
                                <button type="button" class="btn btn-dark" id="settingButton" onclick="size()">Change map size</button>
                            </div>




                        </div>
                    <!-- TOP RIGHT VIEW STOPPED-->
                </div>
                <div class="vh-50 col-12 no-gutters" >
                    <!--BOTTOM RIGHT VIEW STARTED-->
                        <div class="stats view">



                        </div>
                    <!--BOTTOM RIGHT VIEW STOPPED-->
                </div>
            </div>
        </div>
    </div>
</div>



<script th:src='@{js/bootstrap.bundle.js}' type="text/javascript"></script>
<script th:src='@{js/generateMap.js}' type="text/javascript"></script>
<script th:src='@{js/settings.js}' type="text/javascript"></script>

</body>
</html>